@font-face {
  font-family: "ArcaMajora3-Heavy";
  src: url("/src/assets/fonts/ArcaMajora3-Heavy.eot");
  src: url("/src/assets/fonts/ArcaMajora3-Heavy.eot") format("embedded-opentype"),
    url("/src/assets/fonts/ArcaMajora3-Heavy.woff2") format("woff2"),
    url("/src/assets/fonts/ArcaMajora3-Heavy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.fontBlack {
  font-family: 'ArcaMajora3-Heavy';
  color: #111 !important
}